.content {
    padding-top: 8rem;
    background: url(../public/assets/crew/background-crew-mobile.jpg);
    background-size: 100% 100%;
    margin: 0;
    padding-bottom: 7rem
}

.image {
    min-width: 300px !important;
    max-width: 400px !important;
    min-height: 300px !important;
    max-height: 400px !important;
}

.description {
    color: var( --color2 );
    font-size: 1.35rem;
}

.item_navbar {
    background: transparent !important;
    color: var( --color2 );
    cursor: pointer;
    transition: color 0.3s ease;
}

.item_navbar:hover {
    color: var(--color3)
}

@media(min-width: 500px) {
    .content {
        background: url(../public/assets/crew/background-crew-tablet.jpg);
    }
}

@media(min-width: 600px){
    .image {
        min-width: 350px !important;
        max-width: 450px !important;
        min-height: 350px !important;
        max-height: 450px !important;
    }
    .content {
        padding-bottom: 6rem
    }
}

@media(min-width: 992px) {
    
    .content {
        background: url(../public/assets/crew/background-crew-desktop.jpg);
        height: 100%;
        padding-bottom: 5rem
    }
    .image {
        min-width: 400px !important;
        max-width: 500px !important;
        min-height: 400px !important;
        max-height: 500px !important;
    }
    
}

@media(min-width: 1500px) {
    .content {
        height: 100vh;
        padding-bottom: 3rem
    }
}